<div class="modal-header bg-white border-bottom">
  <h5 class="modal-title" id="modal-basic-title">Subir Archivos</h5>
  <a class="close" (click)="cerrar()">
    <span>&times;</span>
  </a>
</div>
<div class="modal-body">
  <div class="row p-10" style="height: 55vh!important">
    <a class="col-5">
      <boton-dropzone></boton-dropzone>
    </a>
    <div class="col-7 scrollable">
      <elemento-lista *ngFor="let doc of srv.docs.controls.reverse(); let i = index" [documento]="doc"
        [index]="i"></elemento-lista>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span *ngIf="srv.form.invalid && (srv.form.touched)" class="invalid">
    Debe completar todos los campos con datos válidos.
  </span>
  <button type="button" [disabled]="srv.uploading || srv.form.invalid || srv.docs.value.length == 0"
    class="btn btn-lg btn-alt-{{srv.uploading?'success':'info'}}" (click)="subir()">
    <i *ngIf="!srv.uploading" class="si si-cloud-upload mr-5"></i>
    <i *ngIf="srv.uploading" class="fa fa-circle-o-notch fa-spin mr-5"></i>
    {{srv.uploading?'Subiendo':'Subir'}} {{srv.docs.length? srv.docs.length : 0}} archivo{{srv.docs.length!=1? 's' : ''}}
    ({{srv.totalSize  | filesize}})
  </button>
</div>