<div class="row justify-content-around">
  <div class="col-lg-5">
    <datos-personales [trabajadorForm]="trabajadorForm" [trabajador]="trabajador" [editing]="editing"></datos-personales>
    <datos-medidas-epp [trabajadorForm]="trabajadorForm" [trabajador]="trabajador" [editing]="editing"></datos-medidas-epp>
  </div>
  
  <div class="col-lg-5">


    <datos-laborales [trabajadorForm]="trabajadorForm" [trabajador]="trabajador" [editing]="editing"></datos-laborales>

    <datos-leyes-sociales [trabajadorForm]="trabajadorForm" [trabajador]="trabajador" [editing]="editing"></datos-leyes-sociales>

    <datos-cuenta-bancaria [trabajadorForm]="trabajadorForm" [trabajador]="trabajador" [editing]="editing"></datos-cuenta-bancaria>

  </div>
</div>
