.display-block{
    display: block;
    padding-right: 12px;
}

.display-none{
    display: none;
}


.block-content{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%
}

.modal-content{
    border-radius: 3px;
}

input, textarea{
    font-size: 12px;
    /* height: 2em; */
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(179, 179, 179) !important;
    border-radius: 4px;
    transition: 0.2s;
}


input:focus, textarea:focus{
    border: 1px solid rgba(140, 197, 223) !important;
    background-color: rgb(255, 255, 255) !important;
    transition: 0.2s;
}