.modal-xl{
    max-width: 1000px;
}

.display-block{
    display: block;
    padding-right: 12px;
}

.display-none{
    display: none;
}


.block-content{
    height: 75vh;
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%
}