<div class="block text-center mt-50">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <button type="button" class="btn btn-md btn-circle btn-noborder btn-outline-secondary mr-5 mb-5"
          (click)="back()">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
    </div>
  </div>
  <a class="block-content d-block position-relative">
    <img class="img-avatar img-avatar128"
      src="{{trabajador?.fotoUrl?trabajador.fotoUrl:defaultImg}}" alt="{{trabajador?.rut | rut}}">

    <label class="btn btn-sm btn-circle btn-alt-success mr-2 fa fa-camera oculto" for="inputFoto" [ngbTooltip]="imgTip"
      placement="right" (click)="compressFile()"></label>

    <ng-template #imgTip>
      <div class="text-center">
        {{trabajador?.fotoUrl?'Cambiar ':'Subir '}} imágen
      </div>
    </ng-template>

  </a>
  <div class="block-content block-content-full">
    <div class="font-size-h4 font-w600 mb-0">{{trabajador?.nombre}} {{trabajador?.apellidos}} <span *ngIf="trabajador?.inactivo" class="text-danger">[desvinculado]</span></div>
    <div class="font-size-h5 text-muted">{{trabajador?.cargo}}</div>
  </div>
  <div class="block-content block-content-full bg-body-light">
    <progreso-ficha-trabajador [trabajador]="trabajador"></progreso-ficha-trabajador>
  </div>

</div>
