tr:hover{
    background-color: rgb(225, 237, 241) !important;
}

.form-control{
    display: inline;
    cursor: pointer !important;
    height: 2.2em;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: rgb(245, 245, 245) !important;
    border: 0px solid rgb(179, 179, 179) !important;
    border-radius: 2px !important;
    transition: 0.2s;

}

.form-control:hover{
    border: 1px solid rgb(179, 179, 179) !important;
}

.form-control:focus{
    border: 1px solid rgba(140, 197, 223) !important;
    background-color: rgb(255, 255, 255) !important;
    transition: 0.2s;
}