<div class="content">
  <nav class="breadcrumb bg-white push">
    <a class="breadcrumb-item text-uppercase" routerLink="/eepp">Estados de Pago</a>
    <span class="breadcrumb-item active">Nuevo</span>
  </nav>
  <form [formGroup]="documentForm">
    <div class="block block-rounded js-appear-enabled animated fadeIn {{isLoading?'block-mode-loading':''}}">
      <div class="block-content padding">
        <div class="row my-20">
          <div class="col-lg-8">
            <form-empresa [parentForm]="documentForm" [sociedades]="sociedades"></form-empresa>
          </div>
          <div class="col-lg-4 text-right">
            <form-fecha [parentForm]="documentForm"></form-fecha>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-12">
            <form-cliente [document]="documentDraft" (onClick)="openSelectClienteModal()"></form-cliente>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row my-20">
          <div class="col-12">
            <form-servicio [parentForm]="documentForm"></form-servicio>
          </div>
        </div>
        <div class="divider mb-20"></div>
        <form-detalle [parentForm]="documentForm" [document]="documentDraft" (onAdd)="agregarFila($event)"
          (onRemove)="quitarFila($event)"></form-detalle>
        <div class="divider"></div>
        <div class="row my-20">
          <div class="col-7">
            <form-notas [parentForm]="documentForm"></form-notas>
          </div>
          <div class="col-4 text-right ml-auto">
            <form-totales [parentForm]="documentForm" [document]="documentDraft"></form-totales>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="text-center">
        <button [disabled]="documentForm.invalid || !documentDraft.cliente" type="button"
          class="btn btn-hero btn-rounded btn-alt-info mr-5 my-30" (click)="vistaPrevia()">
          <i class="fa fa-eye"></i> Vista previa
        </button>
        <button [disabled]="documentForm.invalid || !documentDraft.cliente" type="button"
          class="btn btn-hero btn-rounded btn-alt-success mr-5 my-30" (click)="generar()">
          <i class="si si-chemistry "></i> Generar
        </button>
      </div>
    </div>
  </form>
</div>

<select-cliente-modal (onSelected)="onClienteSelected($event)"></select-cliente-modal>