<footer id="page-footer" class="opacity-0" style="opacity: 1;">
  <div class="content py-20 font-size-xs clearfix">
      <div class="float-right">
          © <span class="js-year-copy js-year-copy-enabled">2018-19</span>
          <!-- Construido con <i class="fa fa-heart text-corporate"></i> por <a class="font-w600" href="javascript:void(0)">sebalopsa</a> -->
      </div>
      <div class="float-left">
          <!-- <a class="font-w600" href="https://1.envato.market/95j" target="_blank">Codebase 3.0</a> -->
           <!-- © <span class="js-year-copy js-year-copy-enabled">2018-19</span> -->
      </div>
  </div>
</footer>