<div class="content-heading">
  TRABAJADORES ({{(trabajadores | filter: filter)?.length}})
  <div class="dropdown float-right">
    <button type="button" class="btn-sm btn-block-option dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Acciones</button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" (click)="exportar()">
        <i class="fa fa-file-excel-o mr-5"></i>Exportar Lista a Excel
      </a>
      <a class="dropdown-item" (click)="irADashboard()">
        <i class="si si-bar-chart mr-5"></i>Ir a Analítica en Qlik
      </a>
    </div>
  </div>
</div>
<div class="block block-rounded block-bordered">
  <div class="block-content bg-body-light pb-20">
    <search [(searchText)]="filter"></search>
  </div>
  <div class="block-content fondo-gris">
    <div  *ngIf="!loading; else loadingTemplate" class="row">
      <div class="col-md-6 col-xl-4 p-5">
        <nuevo-trabajador-card [text]="'Agregar'" [subtext]="'trabajador'" [icon]="'fa fa-user-plus'" [color]="'green'"
          (onClick)="showNuevoTrabajadorModal()">
        </nuevo-trabajador-card>
      </div>
      <div *ngFor="let trabajador of trabajadoresActivos | filter:filter" class="col-md-6 col-xl-4 p-5">
        <trabajador-card [trabajador]="trabajador"></trabajador-card>
      </div>
      <div *ngFor="let trabajador of trabajadoresInactivos | filter:filter" class="col-md-6 col-xl-4 p-5">
        <trabajador-card [trabajador]="trabajador"></trabajador-card>
      </div>
    </div>
  </div>
</div>

<ng-template class="hero" #loadingTemplate>
  <div class="hero-inner">
    <div class="content content-full text-center">
      <i class="fa fa-5x fa-cog fa-spin text-primary"></i><br><br>
      <h5 class="text-muted">Cargando...</h5>
    </div>
  </div>
</ng-template>
