.bg-green{
    background-color: rgba(209, 233, 185, 0.507);
    border: 1px solid rgb(209, 233, 185);
    transition: 0.2s;
}

.bg-green:hover{
    background-color: rgba(209, 233, 185, 0.774);
}

.block:hover{
    cursor: pointer;
}